.projectsTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fff;
  /* min-height: 240px; */
}

.projectsTable th,
.projectsTable td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.projectsTable th {
  background-color: #0073e6;
  color: #fff;
}

@media (min-width: 1024px) {
  .projectsTable {
    width: 50%;
    margin: auto;
  }
}
